*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body { 
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  margin: 4rem;
  text-align: center;
}

.container {
  margin: 0 auto;
  position: relative;
}

form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

input {
  font-size: 1.2rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid gray;
}

input:focus {
  outline: none;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  color: gray;
  z-index: -1;
  transition: .2s ease-in;
}

input:focus ~ label {
  top: -1.5rem;
  font-size: .8rem;
  color: #000;
}

.focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: blue;
  transition: .3s ease-out;
}

input:focus ~ .focus-border {
  width: 100%;
}

input:focus ~ label, .has-content.input-effect ~ label {
  top: -1.5rem;
}

input.valid-content ~ .focus-border {
  width: 100%;
  background: green;
}

input.valid-content ~ label {
  color: lawngreen;
}

input.invalid-content ~ .focus-border {
  width: 100%;
  background: red;
}

input.invalid-content ~ label {
  color: lightcoral;
}

/* Remove Yellow BG in Autocomplete */
@keyframes autofill {
  to {
      color: #000;
      background: transparent;
  }
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}
